# Shipped by Lens Studio
Cache/**
PluginsUserPreferences/**
Support/**
BackUp/**
.vscode/**
jsconfig.json
tsconfig.json
.DS_Store
*.lock
# Shipped by Lens Studio
Cache/**
PluginsUserPreferences/**
Support/**
BackUp/**
.vscode/**
jsconfig.json
tsconfig.json
.DS_Store
*.lock
# End Shipped by Lens Studio
node_modules/
!Cache/TypeScript/lib/LensifyTS/
